.topContainer {
  width: 1260px !important;
  margin: auto;
  background-color: whitesmoke;
  .sidebar {
    height: auto !important;
  }
}

.topBar {
  background-color: papayawhip;
}

.showHide {
  position: absolute;
  bottom: -55px;
  right: 350px;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 10;
  
  i {
    margin: 0 !important;
    position: relative;
    top: -2px;
  }

  &.show {
    animation-duration: .3s;
    animation-name: slideThing;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  &.hide {
    animation-duration: .3s;
    animation-name: slideThing;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

@keyframes slideThing {
  0% {
    right: 350px;
  }
  100% {
    right: 0;
  }
}
