.topContainer {
  width: 1260px !important;
  margin: auto;
  background-color: whitesmoke;
  .sidebar {
    height: auto !important;
  }
}

.topBar {
  background-color: floralwhite;
  height: 130px;
  text-align: center;

  .mainHeader {
    position: relative;
    top: 25px;

    .headerDropdown {
      position: relative;
      left: 30px !important;
      font-size: 48px;

      i {
        visibility: hidden;
      }
    }
  }

  .subheader {
    position: relative;
    top: 27px;
  }

  .dateButton {
    position: relative;
    padding: 0px 0px 0px 0px !important;
    background-color: transparent !important;

    &.left {
      top: 3px;
      right: 85px;
    }
    &.right {
      top: 15px;
      left: 175px;
    }
    &.show {
      visibility: hidden;
    }
  }

  .logout {
    position: relative;
    left: 580px;
    bottom: 80px;
  }

  .simpleButton {
    border: none;
    background-color: transparent;

    &:hover {
      color: lightgrey;
    }

    &:focus {
      outline: none;
    }
  }

  .copyPaste {
    font-size: 10px;
  }
}

.showHide {
  position: relative;
  top: 54px;
  right: 350px;
  padding: 0 !important;
  margin: 0 !important;
  background-color: white !important;
  z-index: 10;
  
  i {
    margin: 0 !important;
    position: relative;
    top: -2px;
  }

  &.show {
    animation-duration: .3s;
    animation-name: slideThing;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  &.hide {
    animation-duration: .3s;
    animation-name: slideThing;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

@keyframes slideThing {
  0% {
    right: 350px;
  }
  100% {
    right: 0;
  }
}
