button {
  cursor: pointer;
}

.inputPage {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.controlPanel {
  grid-row: 1;
  grid-column: 2;
  background-color: white;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px;
}

.hidePanel {
  grid-row: 1;
  grid-column: 2;
  background-color: white;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px;
}

.empList p {
  font-weight: 700;
  text-align: center;
}

.timeList p {
  font-weight: 700;
  text-align: center;
}

.calList p {
  font-weight: 700;
  text-align: center;
}

.calendarArea {
  grid-row: 1/3;
  grid-column: 1/3;
}

.scheduleButton {
  grid-column: 1/3;
}

.calendar {
  margin-bottom: 100px;
  padding: 20px;
  min-width: 1190px;
}

.topRow {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  vertical-align: top;
  text-align: center;
}

.calRow {
  background-color: lightgray;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  color: black;
  vertical-align: top;
  text-align: center;
}

.calRowOff {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  vertical-align: top;
}

.cellText {
  position: relative;
  top: 25%;
}

.firstCol {
  display: inline-block;
  width: 120px;
  height: 40px;
  border: 1px solid black;
  vertical-align: top;
  overflow: hidden;
}

.manageList {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.removeButton {
  grid-column: 2;
  border: none;
  background-color: red;
  padding: 1px 3px;
}

.removeButton:hover {
  background-color: darkred;
  cursor: pointer;
}